/*common css*/
body{
	padding: 0;	
	margin: 0;
	background-color: #ffffff;
	font-family:Roboto,sans-serif;
}
.container{
	width: 99%;
	margin: auto;
	overflow: hidden;
}
ul{
	list-style-type: none;
}

/*HEADER CSS*/
header{
	background: #3342FF;
	color: #ffffff;
	min-height: 50px;
	border-bottom: #000 3px solid;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
}

header li{
	float: left;
	display: inline;
	padding: 0 10px 0 10px;
}
header #trademark{
	margin-top: 15px;
	float: left;
}
#trademark h1{
	margin: 0;
	font-size: 16px;	
}
header nav{
	float: right;
	font-size: 15px;
	font-weight: bold;
}
nav img{
	width: 30px;
}
.current a{
	color: #ffffff;
	font-weight: bold;
}
header a:hover{
	color: #32a0c2;
	font-weight: bold;
}
header a{
	color: #ffffff;
	text-decoration: none;
}
a{
	text-decoration: none;
}
a:hover{
	color: #000000;
	font-weight: bold;
}
/*index login inputs*/
#entery input[type="password"]{
	height: 42px;
	width: 80%;
	border-radius: 5px;
}
#entery input[type="email"], input[type="text"], input[type="number"]{
	height: 42px;
	width: 80%;
	border-radius: 5px;
}
#searchpd{
	height: 35px;
	border-radius: 5px;
	padding-left: 30px;
}
/*index sign in form css*/
.regform{
	text-align: center;
	background: #E8E8EC;
	width: 30%;
	min-height: 485px;
	margin: 0 auto;
	border-radius: 5px;
	color: #C70039;
  	margin-top: 80px;
}
.regform a{
	color: #C70039;
}
.regform h2{
	padding: 15px;

}
.button_reg{
	height: 38px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}
/*heading of the system at home page*/
#systemimage{
	min-height: 100px;
	text-align: center;
	color: #C70039;
	border-bottom: #000 3px solid;
	padding: 16px;
  	margin-top: 40px;
}
#prdimg{
	width:70%;
    margin: auto;
}
/*view items body*/
.viewdesign{
	width: 90%;
	margin: 0 auto;
}
/*landing page body*/
#main-col{
	float: right;
	width: 77%;
    border-radius: 5px;
    margin-top: 5px;
}
#main-col h2{
	color: #000000;
}
#design ul{
    list-style-type: none;
    overflow: hidden;

}
#categories{
	float: left;
	width: 20%;
	border-radius: 5px;
	background: #E8E8EC;
	margin-top: 15px;
	padding: 5px;
}
#categories li{
    padding-top: 5px;
    list-style: none;
    color:  #000;
}
#categories a{
    padding-top: 5px;
    list-style: none;
    font-weight: bold;
    color:  #000;
}
#categories h1{
	text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
}
table, td, th {
    border: 1px solid black;
}
td {
    height: 70px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
#overflow{
	overflow-x:auto;
}
.addtocartbtn{
	height: 38px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
	background: #C70039
}
.product{
    border: 1px solid #000;
    width: 80%;
}
.grid-container{
	 display: grid;
	 grid-template-columns: 245px 245px 245px 245px;
	 grid-template-rows: 250px 250px 250px 250px;
	 grid-gap: 10px;
	 padding: 2px;
}
.grid-container > div {
	border: 1px solid #000;
}
.product p{
	text-align: center;
}
.main-col img{
	width:30%;
}
#productdetails{
	margin-left: 50%
}
#productdbtn{
	height: 38px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
	margin: 6px;
}
.cartbtn{
	width: 70%;
	height: 38px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}
#newproductdiv{
	text-align: center;
	background: #E8E8EC;
	width: 60%;
	padding-top: 30px;
	min-height: 474px;
	margin-left: 70px;
	border-radius: 5px;
	color: #C70039;
}
#pname, #copies, #product_category, textarea {
	 height: 42px;
	 margin-top: 6px;
	 width: 80%;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#dashboard{
	float: right;
	width: 90%;
	padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    background: #ffffff;
}
#item_detail{
	float: right;
}

#dashboard_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 98%;
    border: 1px solid #ddd;
    margin-top: 13px;
}
#chartContainer{
	background: #ffffff;
}

/*Sales statistics*/
#day{
	float: left;
}
#rating{
	width: 70%; 
	height: 28px;
	margin:0 auto;
}
#rating1{
	width: 50%; 
	height: 28px;
	float: left;
	background-color: #2196F3;
}
#rating2{
	width: 30%; 
	height: 28px;
	float: left;
	background-color: #00bcd4;
}
#rating3{
	width: 70%; 
	height: 28px;
	float: left;
	background-color: #4CAF50;
}
#rating4{
	width: 10%; 
	height: 28px;
	float: left;
	background-color: #f44336;
}
#rating5{
	width: 40%; 
	height: 28px;
	float: left;
	background-color: #ff9800;
}
#amount{
	float: right;
	height: 28px;
	margin-top: -20px;
}
#space{
	height: 28px; 
	padding: 18px;
	background-color: #ffffff;
}
figure{
	border: thin black solid;
	width: 23%; float: left; margin: 8px;
}
figure img{
	width: 90%;
}
figure p{
	text-align: center;
}
figcaption{margin-left:15px;}
#cat_header{
	margin-left: 15px;
}
#list_div img{
	width: 30px;
}
#form-popup {
    display: none; 
    position: fixed; 
    width: 100%; 
    left: 0;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    z-index: 1; /* Sit on top */
    top: 0;
}
#form-cart{
    display: none; 
    position: fixed; 
    width: 100%; 
    left: 0;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    z-index: 1; /* Sit on top */
    top: 0;
}
/* The Close form */
.close {
    color: #aaaaaa;
    float: right;
    margin-right:10px;
    font-size: 48px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #C70039;
    text-decoration: none;
    cursor: pointer;
}
#logout{
	font-weight: bold;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 16px;
}
/*
#login-background {
  min-height: 400px;
  background:url('../img/books.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;}*/
footer{
	text-align: center;
	background: #E8E8EC;
	color: #C70039;
	padding: 20px;
	margin-top: 20px;
}